* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #222;
    color: white;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

.about-section {
    padding: 60px 20px;
    background: #f3f3f3;
    text-align: center;
}

.about-section h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.about-section p {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 40px;
}

.left h1 {
    font-size: 40px;
}

.right form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid gray;
}

button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: royalblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#formMessage {
    display: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
